/* ;
;

 */
/* Variables */
:root {
  --primary-color: #22cb5c;
  --secondary-color: #0b0d17;
  --dark-color: #0a0826;
  --medium-color: #3e3e3e;
  --light-color: #6c6c6c;
}

/* Global CSS */
li {
  list-style: none;
}
/* Custom Utilities */
.spectra-bg-primary {
  background-color: var(--primary-color);
}
.spectra-text-primary {
  color: var(--primary-color);
}
.spectra-bg-secondary {
  background-color: var(--secondary-color);
}
.spectra-text-secondary {
  color: var(--secondary-color);
}
.spectra-text-dark {
  color: var(--dark-color);
}
.spectra-text-medium {
  color: var(--medium-color);
}
.spectra-text-light {
  color: var(--light-color);
}

/* Fonts */
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}

/* Border Radius */
.spectra-rounded-3 {
  border-radius: 30px;
}
/* Margins */
.spectra-mb-lg {
  margin-bottom: 6.25rem;
}

/* Section: Header */
/* Navbar */
.spectra-navbar {
  padding: 2.5rem 0;
}
.spectra-logo:hover {
  color: var(--medium-color);
}
.spectra-nav-item {
  margin: 0 0.313rem;
}
.spectra-nav-link:hover {
  color: var(--primary-color);
}

/* Our Package */
.our-package .package-features {
  padding: 0;
}
.our-package .fa-check {
  background-color: #5243c228;
}
.our-package .exclusive {
  background-color: #bf3312;
}
